<p id="notice"><%= notice %></p>


<body>
<div class="container">

<%# 　紹介文　 %>
<div class="container d-flex　align-items-center">
  <h3 class="font-weight-bold text-left"><span class="title">Arcive</span></h3>
  <h3>weather data save SLIDE-SHOW</h3>
  <%# <h3 class="font-weight-bold text-center"><%= @datas.created_at%>
</div>

<table>


<tbody>
<%# calender view %>
  <%= month_calendar events: @calenders do |date, calenders| %>
    <%= date %>
    <%# <%= calenders %>

    <% calenders.each do |calender| %>
      <div>
        <%= image_tag "#{@path}/#{calender.photo1}", :size =>'200x200'%>
        <%# <p><%= "#{@path}/#{calender.photo1}"%>
        <%# <%= calender.photo1 %>
      </div>
    <% end %>
  <% end %>

<%# defaut views %>
    <%#<% @calenders.each do |calender| %>
</tbody>
</table>

<br>

<%= link_to 'New Calender', new_calender_path %>

</div>
</body>
