<p id="notice"><%= notice %></p>

<p>
  <strong>Name1:</strong>
  <%= @satelight.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @satelight.name2 %>
</p>

<p>
  <strong>Name3:</strong>
  <%= @satelight.name3 %>
</p>

<%= link_to 'Edit', edit_satelight_path(@satelight) %> |
<%= link_to 'Back', satelights_path %>
