

<body>

<%# himawari image %>
<h3 class="font-weight-bold text-center">NOW JAPAN（from himawari view</h3>
<h3 class="font-weight-bold text-center">update(JST) <%= @tt1 %></h3>
<%# himawari image %>
<div id="cloud_image" class="container d-flex justify-content-center" style='width: 100%; height: 700px;'>
        <div class="himawari-image d-flex justify-content-center ">
            <%# 衛星画像 %>
            <img class="main" src="<%= @url %>" style="width: 550px; height: 550px; position: absolute; z-index: 1;">
            <%# #マスキング %>
            <img class="coastline" src="https://himawari8-dl.nict.go.jp/himawari8/img/D531106/1d/550/coastline/ffff00_0_0.png" style="width: 550px; height: 550px; position: absolute; z-index: 2;">
        </div>
</div>

<%# himawari image %>
<h3 class="font-weight-bold text-center">satelight image</h3>
<h3 class="font-weight-bold text-center">update(JST) <%= @tt2 %></h3>
<%# himawari image %>
<div class="text-center">
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Infrared</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Visible</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Water vapor</button>
</div>

<%# infrared image %>
<div id="cloud_image" class="container d-flex justify-content-center" style='width: 100%;'>
        <div class="d-flex justify-content-center ">
            <%# infraed %>
            <img class="main" src="<%= @url_photo1 %>" style="width: 550px; height: 550px;">
        </div>
        <div class="d-flex justify-content-center ">
            <%# infraed %>
            <img class="main" src="<%= @url_photo2 %>" style="width: 550px; height: 550px;">
        </div>
        <div class="d-flex justify-content-center ">
            <%# infraed %>
            <img class="main" src="<%= @url_photo3 %>" style="width: 550px; height: 550px;">
        </div>
        <div class="d-flex justify-content-center ">
            <%# infraed %>
            <img class="main" src="<%= @url_photo4 %>" style="width: 550px; height: 550px;">
        </div>
</div>
    
</body>